@font-face {
    font-family: "Grold Bold";
    src: url('./assets/fonts/GroldBoldEdit.otf') format('truetype');
  }
  /* Font Credit: https://www.fontspring.com/fonts/typesketchbook/grold */
  /* Numbers + Symbols: https://www.myfonts.com/collections/fontop-foundry?sort_by=price-ascending&pageType=foundryPage */

.linkedListPage {
    font-family: "Grold Bold", Arial;
    letter-spacing: 0.5px;
    height: 100vh;
    color: white;
    align-items: center;
    padding: 250px;
}

.header {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-size: 56px;
    margin: 0;
}

.header-image {
    width: 25%;
    height: auto;
    margin-left: 20px;
}

.node-container {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}  

.node-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0F0F0F;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    background-color: #1A1A1A;
    font-size: 36px;
    color: #FFFFFF;
    padding: 20px 20px;
    min-width: 50px;
    min-height: 50px;
    box-sizing: border-box;
    position: relative;
    transition: transform 0.3s ease;
    z-index: 1;
    cursor: pointer;
}

.node-box:hover {
    transform: scale(1.05);
    background-color: #333333;
    cursor: pointer;
}

.arrow {
    font-size: 52px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    pointer-events: none;
}

.dropdown-container {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -65%); 
    display: inline-block;
}

.dropdown-button {
    padding: 10px;
    background-color: #1A1A1A;
    border: 2px solid #0F0F0F;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-button:hover {
    background-color: #333333;
}

.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: #1A1A1A;
    border: 2px solid #0F0F0F;
    border-radius: 4px;
    padding: 10px;
}

.dropdown-option {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-input {
    padding: 5px;
    font-size: 16px;
    width: calc(100% - 75px);
    max-width: 100px;
    text-align: right;
}

.dropdown-action {
    padding: 5px;
    background-color: #1A1A1A;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-action:hover {
    background-color: #333333;
}